* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 50px;
  text-align:center;
  font-size:250%;
}
div#container {
  position: relative;
  background-color: gray;
  height: 220px;
  margin-bottom: 2px;
}
p {
  font-family: Helvetica;
  color: black;
  font-size:125%;
  margin-top: 40px;
}
.row {
  width: 100%;
}
@media (min-width: 992px){
	.col-lg {
		width: 32%;
		float: left;
		border: 1px solid black;
		margin: 5px;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.col-md {
		width: 48.5%;
		float: left;
		border: 1px solid black;
		margin: 5px;
	}
	.col-md-third {
		width: 98.3%;
		float: left;
		border: 1px solid black;
		margin: 5px;
	}
}
@media (max-width: 767px){
	.col-sm {
		width: 99%;
		float: left;
		border: 1px solid black;
		margin: 5px;
	}
}

#box1 {
	top: 0;
 	right: 0;
 	position: absolute;
 	background-color: #D59898;
 	height: 40px;
 	width: 150px;
 	color: black;
 	font-size:175%;
 	text-align:center;
 	border: 1px solid black;
}
#box2 {
	top: 0;
 	right: 0;
 	position: absolute;
 	background-color: #C14543;
 	height: 40px;
 	width: 150px;
 	color: white;
 	font-size:175%;
 	text-align:center;
 	border: 1px solid black;

}
#box3 {
	top: 0;
 	right: 0;
 	position: absolute;
 	background-color: #E5D198;
 	height: 40px;
 	width: 150px;
 	color: black;
 	font-family: Helvetica;
	font-size:175%;
	text-align:center;
	border: 1px solid black;
}
